# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.db-journal
*.log
local_settings.py
db.sqlite3
/static/

# mypy
.mypy_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# JetBrains
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Environment variables
.env

# Coverage reports
.coverage
.coverage.*
nosetests.xml
*.cover

# Pytest
.cache/

# Flask
instance/
.webassets-cache

# Jupyter Notebooks
.ipynb_checkpoints/

# Node.js (if you're using Node.js or npm for front-end development)
node_modules/
npm-debug.log
yarn-error.log

# Python Wheels
*.whl
