<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
</head>
<body>
    <div class="container">
        <div>
            <h1>
                Iniciar Sesion
            </h1>
        </div>

        <div>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">
                    Iniciar Sesion
                </button>
            </form>
            <a href="{% url 'signup' %}"> Registrarse</a>
            <a href="{% url 'password_reset' %}"> ¿Olvidaste tu contraseña </a>
        </div>
    </div>
    
</body>
</html>