.btn {
    color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 5px 10px;
    margin: 4px;
    font-size: 18px;
}
.btn:hover{
    background-color: rgb(21, 188, 188);
}

.tabla-container {
    padding: 10px;
    text-align: center;
    margin-left: 50px;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: left;
}

/*para centrar la tabla hazla 80% y al div donde la metes dale esta clase*/
.center {

    /* utiliza flex box para centrar*/
    justify-content: center;
    /*Centra horizontal mente*/

    text-align: center;
    align-items: center;
    /*centra verticalmente*/
    min-height: 50vh;
    /*asegura que el contenedor ocupe el 100 de la altura de la ventana*/

}

table {
    width: 90%;
    /*Ancho de la tabla*/
    border-collapse: collapse;
    /* espacio celdas eliminar */

    padding: 20px 0;

    margin: 20px 0;
    /* superior e inferior */
    font-size: 18px;
    /*tamaño fuente */
    text-align: center;
    /* texto al centro */
}

th,
td {
    border: 1px solid black;
    /* borde de las celdas */
    padding: 12px;
    /* espacio interno en las celdas*/
}

/*estilo de la celda del encabezado */
th {
    background-color: #4CAF50;
    color: white;
}


/* estilo para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*estilo al pasar el raton */
tr:hover {
    background-color: #ddd;
}

/*estilo para el titulo de la tabla */
caption {
    caption-side: top;
    /* ubicacion del titulo */
    font-size: 20px;
    font-weight: bold;
    /* fuente en negrita */
    padding: 10px;
}
