<div class="pagination" style="text-align:center;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inicio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Atrás &raquo;</a>
        {% endif %}
    </span>
</div>
